# Copyright (c) 2020 Jefferson Lee.
# SPDX-License-Identifier: Apache-2.0

config BOARD_ARDUINO_NANO_33_BLE
    bool "Arduino Nano 33 BLE board"
    depends on SOC_NRF52840_QIAA

config BOARD_ARDUINO_NANO_33_BLE_INIT_ARDUINO_STYLE
    bool "Initializes the boards in the style of the standard Arduino distribution"
    depends on BOARD_ARDUINO_NANO_33_BLE
